# Load packages

In [3]:
import pandas as pd
import numpy as np

In [1]:
!mkdir UK-Politics-data
!wget https://www.dropbox.com/sh/susyp0an187iinj/AAB_HDCcE3T8xCh4MqypigsPa?dl=1 -O UK-Politics-data/UK-Politics.zip

mkdir: UK-Politics-data: File exists
zsh:1: no matches found: https://www.dropbox.com/sh/susyp0an187iinj/AAB_HDCcE3T8xCh4MqypigsPa?dl=1

In [ ]:
!unzip UK-Politics-files/UK-Politics.zip -d UK-Politics-files/

# Open two data sets, check the contents

In [4]:
df_brexit = pd.read_csv("UK-Politics-files/brexit-vote.csv")

In [5]:
df_elec = pd.read_excel("UK-Politics-files/general-election-results-2019.xlsx", sheet_name = "voting-summary")

In [6]:
df_elec.head()

,ons_id,ons_region_id,constituency_name,county_name,region_name,country_name,constituency_type,declaration_time,mp_firstname,mp_surname,...,alliance,other,other_winner,mp_fullname,majority_percent,majority_rank,turnout_const,turnout_reg,turnout_uk,turnout_2017
0,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,2019-12-13 02:30:00,Stephen,Kinnock,...,0,731,0,Stephen Kinnock,0.331983,209,0.622621,0.665721,0.673108,0.666800
1,W07000058,W92000004,Aberconwy,Clwyd,Wales,Wales,County,2019-12-13 03:09:00,Robin,Millar,...,0,0,0,Robin Millar,0.063832,569,0.712879,0.665721,0.673108,0.710482
2,S14000001,S92000003,Aberdeen North,Scotland,Scotland,Scotland,Borough,2019-12-13 03:13:00,Kirsty,Blackman,...,0,0,0,Kirsty Blackman,0.338652,202,0.598713,0.680736,0.673108,0.591614
3,S14000002,S92000003,Aberdeen South,Scotland,Scotland,Scotland,Borough,2019-12-13 03:34:00,Stephen,Flynn,...,0,0,0,Stephen Flynn,0.087427,533,0.694441,0.680736,0.673108,0.684887
4,S14000003,S92000003,Airdrie and Shotts,Scotland,Scotland,Scotland,County,2019-12-13 02:59:00,Neil,Gray,...,0,0,0,Neil Gray,0.130770,459,0.621331,0.680736,0.673108,0.592430

In [7]:
df_brexit

,PCON11CD,Constituency name,Estimated Leave vote share,Known Leave vote share,How do we know?,Figure to use,Unnamed: 6,Unnamed: 7
0,E14000530,Aldershot,0.580974,0.578978,Rosenbaum / Greenwood data,0.578978,NaN,Sources:
1,E14000531,Aldridge-Brownhills,0.687228,0.677963,Rosenbaum / Greenwood data,0.677963,NaN,(1) â€œAreal interpolation and the UKâ€™s referend...
2,E14000532,Altrincham and Sale West,0.385878,NaN,NaN,0.385878,NaN,"(2) ""Local voting figures shed new light on EU..."
3,E14000533,Amber Valley,0.652991,NaN,NaN,0.652991,NaN,NaN
4,E14000534,Arundel and South Downs,0.497011,NaN,NaN,0.497011,NaN,NaN
...,...,...,...,...,...,...,...,...
627,W07000076,Caerphilly,0.551360,NaN,NaN,0.551360,NaN,NaN
628,W07000077,Islwyn,0.589399,NaN,NaN,0.589399,NaN,NaN
629,W07000078,Vale of Glamorgan,0.525507,NaN,NaN,0.525507,NaN,NaN
630,W07000079,Cardiff West,0.438226,NaN,NaN,0.438226,NaN,NaN
631,W07000080,Cardiff South and Penarth,0.428172,NaN,NaN,0.428172,NaN,NaN

# Data wrangling


##  Rename the variables to merge

In [8]:
df_brexit.rename({'PCON11CD': 'ons_id'}, axis = 1, inplace=True)

## Merge

In [9]:
df_merged = df_elec.merge(df_brexit, on = 'ons_id')

In [10]:
df_merge

,ons_id,ons_region_id,constituency_name,county_name,region_name,country_name,constituency_type,declaration_time,mp_firstname,mp_surname,...,turnout_reg,turnout_uk,turnout_2017,Constituency name,Estimated Leave vote share,Known Leave vote share,How do we know?,Figure to use,Unnamed: 6,Unnamed: 7
0,W07000049,W92000004,Aberavon,West Glamorgan,Wales,Wales,County,2019-12-13 02:30:00,Stephen,Kinnock,...,0.665721,0.673108,0.666800,Aberavon,0.601245,NaN,NaN,0.601245,NaN,NaN
1,W07000058,W92000004,Aberconwy,Clwyd,Wales,Wales,County,2019-12-13 03:09:00,Robin,Millar,...,0.665721,0.673108,0.710482,Aberconwy,0.521971,NaN,NaN,0.521971,NaN,NaN
2,S14000001,S92000003,Aberdeen North,Scotland,Scotland,Scotland,Borough,2019-12-13 03:13:00,Kirsty,Blackman,...,0.680736,0.673108,0.591614,Aberdeen North,0.430922,NaN,NaN,0.430922,NaN,NaN
3,S14000002,S92000003,Aberdeen South,Scotland,Scotland,Scotland,Borough,2019-12-13 03:34:00,Stephen,Flynn,...,0.680736,0.673108,0.684887,Aberdeen South,0.321431,NaN,NaN,0.321431,NaN,NaN
4,S14000003,S92000003,Airdrie and Shotts,Scotland,Scotland,Scotland,County,2019-12-13 02:59:00,Neil,Gray,...,0.680736,0.673108,0.592430,Airdrie and Shotts,0.398381,NaN,NaN,0.398381,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,E14001059,E12000002,Wythenshawe and Sale East,Greater Manchester,North West,England,Borough,2019-12-13 05:04:00,Michael,Kane,...,0.656236,0.673108,0.600385,Wythenshawe and Sale East,0.496481,NaN,NaN,0.496481,NaN,NaN
628,E14001060,E12000009,Yeovil,Somerset,South West,England,County,2019-12-13 05:28:00,Marcus,Fysh,...,0.720191,0.673108,0.716436,Yeovil,0.598655,NaN,NaN,0.598655,NaN,NaN
629,W07000041,W92000004,Ynys Mon,Gwynedd,Wales,Wales,County,2019-12-13 02:45:00,Virginia,Crosbie,...,0.665721,0.673108,0.706090,Ynys MÃ´n,0.509420,NaN,NaN,0.509420,NaN,NaN
630,E14001061,E12000003,York Central,North Yorkshire,Yorkshire and The Humber,England,Borough,2019-12-13 04:18:00,Rachael,Maskell,...,0.643472,0.673108,0.686646,York Central,0.388207,NaN,NaN,0.388207,NaN,NaN
631,E14001062,E12000003,York Outer,North Yorkshire,Yorkshire and The Humber,England,County,2019-12-13 04:35:00,Julian,Sturdy,...,0.643472,0.673108,0.757262,York Outer,0.446677,NaN,NaN,0.446677,NaN,NaN

## Join

You can use `join` instead, but for joining you need to set index.

In [ ]:
df_elec.set_index('ons_id').join(df_brexit.set_index('ons_id'), on = 'ons_id')

# Descriptive Statistics

In [ ]:
df_merged.mean()

Calculate the percentage of vote the Conservatives got

In [ ]:
df_merged["con_pct"] = df_merged['con'] / df_merged['valid_votes']

Count the number of observations in each county

In [ ]:
df_merged.value_counts(['county_name', 'region_name']).sort_index(level = 1)

## Correlations

In [ ]:
df_merged[['con_pct', 'Figure to use']].corr()

## Groupby

In [ ]:
df_merged.groupby('region_name').sum().reset_index()

# Pivoting

In [ ]:
df_elec_sub = df_elec[:5]

In [ ]:
df_elec_sub

In [ ]:
df_elec_sub = df_elec[['ons_id', 'constituency_name', 'con', 'lab', 'ld']]

In [ ]:
df_elec_sub

In [ ]:
melted = df_elec_sub.melt(['ons_id', "constituency_name"],  var_name = "party", 
                          value_name = 'vote').sort_values('constituency_name')
melted

In [ ]:
unmelted = melted.pivot(['ons_id', 'constituency_name'], 'party').reset_index()
unmelted

In [ ]:
unmelted.columns = ['ons_id', 'constituency_name', 'con', 'lab', 'ld']

In [ ]:
unmelted

In [ ]:
unmelted.iloc[:, 2:].corr()